{% extends "base.html" %}

{% block title %} Show task {% endblock %}

{% block content %}
    <h3 class="text-center text-white w-80 rounded-md mx-auto py-2 font-bold my-5 text-2xl bg-purple-700">Tasks</h3>

    <div class="px-10">
    <table class="table border-collapse border border-gray-300 w-full ">
  <thead>
    <tr>
      <th class="p-3 border border-gray-300">Task Title</th>
      <th class="p-3 border border-gray-300">Task Description</th>
      <th class="p-3 border border-gray-300">Status</th>
      <th class="p-3 border border-gray-300">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %} 
    <tr>
      <td class="p-3 border border-gray-300">{{item.task_title}}</td>
      <td class="p-3 border border-gray-300">{{item.task_description}}</td>
      <td class="p-3 border border-gray-300">InComplete</td>
      <td class="p-3 border border-gray-300">
        <a href="{% url 'delete_task' pk=item.id %}" class="bg-red-500 p-1 text-white">Delete</a>
        <a href="{% url 'update_task' pk=item.id %}"  class="bg-yellow-500 p-1 text-white">Edit</a>
        <a href="{% url 'make_complete_task' item.id %}" class="bg-green-500 p-1 text-white">Complete</a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}